<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Covid‑19 Dashboard</h1>
    <canvas id="casesChart" width="400" height="200" data-bss-chart='{"type":"line","data":{"labels":{{ dates|tojson }},"datasets":[{"label":"Daily Cases","data":{{ daily_cases|tojson }}}]}}'></canvas>
    <canvas id="deathsChart" width="400" height="200" data-bss-chart='{"type":"line","data":{"labels":{{ dates|tojson }},"datasets":[{"label":"Daily Deaths","data":{{ daily_deaths|tojson }}}]}}'></canvas>
    <canvas id="recoveredChart" width="400" height="200" data-bss-chart='{"type":"line","data":{"labels":{{ dates|tojson }},"datasets":[{"label":"Daily Recovered","data":{{ daily_recovered|tojson }}}]}}'></canvas>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
</body>
</html>